@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #ffffff; /* Sky blue */
  --color-secondary: #58a9ff; /* Blue */
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--color-primary);
  color: #333;
}

.navbar {
  background-color: var(--color-secondary);
  color: white;
}

.navbar a {
  color: white;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
}
